In [1]:
import pandas as pd
import numpy as np

In [2]:
# read data
train_df = pd.read_csv("train.csv")
clients_df = pd.read_csv("client.csv")
gas_price_df = pd.read_csv("gas_prices.csv")
electricity_price_df = pd.read_csv("electricity_prices.csv")
forecast_weather_df = pd.read_csv("forecast_weather.csv")
histo_weather_df = pd.read_csv("historical_weather.csv")
weather_station_country_map = pd.read_csv("weather_station_to_county_mapping.csv")

In [5]:
train_df

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0
1,0,0,1,96.590,1,2021-09-01 00:00:00,0,1,0
2,0,0,2,0.000,0,2021-09-01 00:00:00,0,2,1
3,0,0,2,17.314,1,2021-09-01 00:00:00,0,3,1
4,0,0,3,2.904,0,2021-09-01 00:00:00,0,4,2
...,...,...,...,...,...,...,...,...,...
2018347,15,1,0,197.233,1,2023-05-31 23:00:00,637,2018347,64
2018348,15,1,1,0.000,0,2023-05-31 23:00:00,637,2018348,59
2018349,15,1,1,28.404,1,2023-05-31 23:00:00,637,2018349,59
2018350,15,1,3,0.000,0,2023-05-31 23:00:00,637,2018350,60
2018351,15,1,3,196.240,1,2023-05-31 23:00:00,637,2018351,60

In [4]:
clients_df

,product_type,county,eic_count,installed_capacity,is_business,date,data_block_id
0,1,0,108,952.89,0,2021-09-01,2
1,2,0,17,166.40,0,2021-09-01,2
2,3,0,688,7207.88,0,2021-09-01,2
3,0,0,5,400.00,1,2021-09-01,2
4,1,0,43,1411.00,1,2021-09-01,2
...,...,...,...,...,...,...,...
41914,1,15,51,415.60,0,2023-05-29,637
41915,3,15,161,2035.75,0,2023-05-29,637
41916,0,15,15,620.00,1,2023-05-29,637
41917,1,15,20,624.50,1,2023-05-29,637
41918,3,15,55,2188.20,1,2023-05-29,637

In [7]:
gas_price_df

,forecast_date,lowest_price_per_mwh,highest_price_per_mwh,origin_date,data_block_id
0,2021-09-01,45.23,46.32,2021-08-31,1
1,2021-09-02,45.62,46.29,2021-09-01,2
2,2021-09-03,45.85,46.40,2021-09-02,3
3,2021-09-04,46.30,46.80,2021-09-03,4
4,2021-09-05,46.30,46.58,2021-09-04,5
...,...,...,...,...,...
632,2023-05-26,29.10,34.10,2023-05-25,633
633,2023-05-27,28.30,34.10,2023-05-26,634
634,2023-05-28,28.10,34.10,2023-05-27,635
635,2023-05-29,28.16,36.98,2023-05-28,636
636,2023-05-30,29.00,34.00,2023-05-29,637

In [9]:
electricity_price_df

             forecast_date  euros_per_mwh          origin_date  data_block_id
0      2021-09-01 00:00:00          92.51  2021-08-31 00:00:00              1
1      2021-09-01 01:00:00          88.90  2021-08-31 01:00:00              1
2      2021-09-01 02:00:00          87.35  2021-08-31 02:00:00              1
3      2021-09-01 03:00:00          86.88  2021-08-31 03:00:00              1
4      2021-09-01 04:00:00          88.43  2021-08-31 04:00:00              1
...                    ...            ...                  ...            ...
15281  2023-05-30 19:00:00          82.10  2023-05-29 19:00:00            637
15282  2023-05-30 20:00:00         150.85  2023-05-29 20:00:00            637
15283  2023-05-30 21:00:00          82.10  2023-05-29 21:00:00            637
15284  2023-05-30 22:00:00          82.09  2023-05-29 22:00:00            637
15285  2023-05-30 23:00:00          -1.29  2023-05-29 23:00:00            637

[15286 rows x 4 columns]

In [10]:
forecast_weather_df

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
0,57.6,21.7,2021-09-01 02:00:00,1,15.655786,11.553613,0.904816,0.019714,0.000000,0.905899,-0.411328,-9.106137,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
1,57.6,22.2,2021-09-01 02:00:00,1,13.003931,10.689844,0.886322,0.004456,0.000000,0.886658,0.206347,-5.355405,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
2,57.6,22.7,2021-09-01 02:00:00,1,14.206567,11.671777,0.729034,0.005615,0.000000,0.730499,1.451587,-7.417905,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
3,57.6,23.2,2021-09-01 02:00:00,1,14.844507,12.264917,0.336304,0.074341,0.000626,0.385468,1.090869,-9.163999,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
4,57.6,23.7,2021-09-01 02:00:00,1,15.293848,12.458887,0.102875,0.088074,0.000015,0.176590,1.268481,-8.975766,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3424507,59.7,26.2,2023-05-30 02:00:00,48,10.150049,5.662744,0.061066,0.257339,0.004059,0.308594,6.890626,-3.258144,637,2023-06-01 02:00:00,0.0,0.0,0.0,0.0
3424508,59.7,26.7,2023-05-30 02:00:00,48,10.259790,5.922754,0.107880,0.895203,0.198700,0.906036,6.890626,-3.768032,637,2023-06-01 02:00:00,0.0,0.0,0.0,0.0
3424509,59.7,27.2,2023-05-30 02:00:00,48,10.467798,6.072534,0.000000,0.387466,0.448853,0.530518,6.214112,-4.700405,637,2023-06-01 02:00:00,0.0,0.0,0.0,0.0
3424510,59.7,27.7,2023-05-30 02:00:00,48,10.694116,7.009058,0.000000,0.505936,0.997314,0.997498,5.810060,-4.338345,637,2023-06-01 02:00:00,0.0,0.0,0.0,0.0
3424511,59.7,28.2,2023-05-30 02:00:00,48,11.233179,7.069238,0.703461,0.292313,0.934021,0.989716,2.719728,-0.922939,637,2023-06-01 02:00:00,0.0,0.0,0.0,0.0

In [11]:
histo_weather_df

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id
0,2021-09-01 00:00:00,14.2,11.6,0.0,0.0,1015.9,31,31,0,11,7.083333,8,0.0,0.0,0.0,57.6,21.7,1.0
1,2021-09-01 00:00:00,13.9,11.5,0.0,0.0,1010.7,33,37,0,0,5.111111,359,0.0,0.0,0.0,57.6,22.2,1.0
2,2021-09-01 00:00:00,14.0,12.5,0.0,0.0,1015.0,31,34,0,0,6.333333,355,0.0,0.0,0.0,57.6,22.7,1.0
3,2021-09-01 00:00:00,14.6,11.5,0.0,0.0,1017.3,0,0,0,0,8.083333,297,358.0,277.0,81.0,57.6,23.2,1.0
4,2021-09-01 00:00:00,15.7,12.9,0.0,0.0,1014.0,22,25,0,0,8.416667,5,0.0,0.0,0.0,57.6,23.7,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710797,2023-05-30 10:00:00,11.7,4.6,0.0,0.0,1018.9,40,9,54,0,1.055556,253,567.0,392.0,175.0,59.7,26.2,637.0
1710798,2023-05-30 10:00:00,12.3,3.5,0.0,0.0,1019.0,46,4,70,0,0.805556,263,581.0,407.0,174.0,59.7,26.7,637.0
1710799,2023-05-30 10:00:00,9.8,3.0,0.0,0.0,1019.2,41,4,62,0,1.972222,285,609.0,432.0,177.0,59.7,27.2,637.0
1710800,2023-05-30 10:00:00,11.7,1.6,0.0,0.0,1019.0,44,0,73,0,3.500000,307,658.0,521.0,137.0,59.7,27.7,637.0
1710801,2023-05-30 10:00:00,12.0,1.4,0.0,0.0,1016.1,38,0,63,0,3.250000,304,672.0,550.0,122.0,59.7,28.2,637.0

In [12]:
weather_station_country_map

    county_name  longitude  latitude  county
0           NaN       21.7      57.6     NaN
1           NaN       21.7      57.9     NaN
2           NaN       21.7      58.2     NaN
3           NaN       21.7      58.5     NaN
4           NaN       21.7      58.8     NaN
..          ...        ...       ...     ...
107         NaN       28.2      58.5     NaN
108         NaN       28.2      58.8     NaN
109         NaN       28.2      59.1     NaN
110         NaN       28.2      59.4     NaN
111         NaN       28.2      59.7     NaN

[112 rows x 4 columns]

In [13]:
weather_station_country_map.dropna()

       county_name  longitude  latitude  county
10        Saaremaa       22.2      58.2    10.0
11        Saaremaa       22.2      58.5    10.0
19        Saaremaa       22.7      58.5    10.0
20         Hiiumaa       22.7      58.8     1.0
27        Saaremaa       23.2      58.5    10.0
35        Pärnumaa       23.7      58.5     7.0
36        Läänemaa       23.7      58.8     6.0
37        Läänemaa       23.7      59.1     6.0
43        Pärnumaa       24.2      58.5     7.0
44        Raplamaa       24.2      58.8     9.0
45        Harjumaa       24.2      59.1     0.0
46        Harjumaa       24.2      59.4     0.0
50        Pärnumaa       24.7      58.2     7.0
51        Pärnumaa       24.7      58.5     7.0
52        Raplamaa       24.7      58.8     9.0
53        Raplamaa       24.7      59.1     9.0
54        Harjumaa       24.7      59.4     0.0
58        Pärnumaa       25.2      58.2     7.0
59     Viljandimaa       25.2      58.5    14.0
60        Järvamaa       25.2      58.8     3.0
61        Harjumaa       25.2      59.1     0.0
62        Harjumaa       25.2      59.4     0.0
66     Viljandimaa       25.7      58.2    14.0
67     Viljandimaa       25.7      58.5    14.0
68        Järvamaa       25.7      58.8     3.0
69        Järvamaa       25.7      59.1     3.0
70        Harjumaa       25.7      59.4     0.0
73        Valgamaa       26.2      57.9    13.0
74        Tartumaa       26.2      58.2    11.0
75       Jõgevamaa       26.2      58.5     4.0
76       Jõgevamaa       26.2      58.8     4.0
77   Lääne-Virumaa       26.2      59.1     5.0
78   Lääne-Virumaa       26.2      59.4     5.0
80         Võrumaa       26.7      57.6    15.0
81         Võrumaa       26.7      57.9    15.0
82        Tartumaa       26.7      58.2    11.0
83        Tartumaa       26.7      58.5    11.0
84       Jõgevamaa       26.7      58.8     4.0
85   Lääne-Virumaa       26.7      59.1     5.0
86   Lääne-Virumaa       26.7      59.4     5.0
88         Võrumaa       27.2      57.6    15.0
89         Võrumaa       27.2      57.9    15.0
90        Põlvamaa       27.2      58.2     8.0
91        Tartumaa       27.2      58.5    11.0
93     Ida-Virumaa       27.2      59.1     2.0
94     Ida-Virumaa       27.2      59.4     2.0
97         Võrumaa       27.7      57.9    15.0
101    Ida-Virumaa       27.7      59.1     2.0
102    Ida-Virumaa       27.7      59.4     2.0

# Data Preprocessing

In [4]:
def country_mapping(mapping, weather_df):
    country_ls = []
    for i in range(len(weather_df)):
        latitude = weather_df.iloc[i]['latitude']
        longitude = weather_df.iloc[i]['longitude']
        try:
            country_code = int(mapping[mapping['longitude'] == longitude][mapping['latitude'] == latitude]['county'].values[0])
        except:
            country_code = np.nan
            
        country_ls.append(country_code)
        
    weather_df['county'] = country_ls

In [55]:
# adjustment on mapping

adjusted_weather_station_county_map = weather_station_country_map.copy()
known_value = weather_station_country_map.dropna()
county_ls = []

for i in range(len(adjusted_weather_station_county_map)):
    
    target = i
    
    if np.isnan(adjusted_weather_station_county_map.iloc[target]['county']):
        target_longitude = adjusted_weather_station_county_map.iloc[target]['longitude']
        target_latitude = adjusted_weather_station_county_map.iloc[target]['latitude']
        try:
            low_index = known_value.index[known_value.index<target][-1]
        except:
            low_index = -1
            
        try:
            high_index = known_value.index[known_value.index>target][0]
        except:
            high_index = -1
            
        if low_index >= 0:
            low_longitude = known_value.loc[low_index]['longitude']
            low_latitude = known_value.loc[low_index]['latitude']
        if high_index >= 0:
            high_longitude = known_value.loc[high_index]['longitude']
            high_latitude = known_value.loc[high_index]['latitude']
            
        low_distance = (target_longitude - low_longitude)**2 + (target_latitude - low_latitude)**2 if low_index > -1 else 10000
        high_distance = (target_longitude - high_longitude)**2 + (target_latitude - high_latitude)**2 if high_index > -1 else 10000
        
        if low_distance < high_distance:
            county = known_value.loc[low_index]['county']
        else:
            county = known_value.loc[high_index]['county']
        
    else:
        county = adjusted_weather_station_county_map.iloc[target]['county']
        
    county_ls.append(county)
    

adjusted_weather_station_county_map['county'] = county_ls

In [58]:
# Energy price

gas_price_df.dropna(inplace = True)
electricity_price_df.dropna(inplace = True)

# weather data

forecast_weather_df.dropna(inplace = True)
histo_weather_df.dropna(inplace = True)

country_mapping(adjusted_weather_station_county_map, forecast_weather_df)
country_mapping(adjusted_weather_station_county_map, histo_weather_df)

forecast_weather_df.dropna(inplace = True)
histo_weather_df.dropna(inplace = True)

preprocess_forecast_weather_df = forecast_weather_df.groupby(["origin_datetime", "county"]).mean()
preprocess_histo_weather_df = histo_weather_df.groupby(["datetime", "county"]).mean()

preprocess_forecast_weather_df.to_csv("preprocess_forecast_weather.csv")
preprocess_histo_weather_df.to_csv("preprocess_histo_weather.csv")

C:\Users\anson\AppData\Local\Temp\ipykernel_20460\738530223.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  country_code = int(mapping[mapping['longitude'] == longitude][mapping['latitude'] == latitude]['county'].values[0])
C:\Users\anson\AppData\Local\Temp\ipykernel_20460\738530223.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  country_code = int(mapping[mapping['longitude'] == longitude][mapping['latitude'] == latitude]['county'].values[0])

KeyError: 'origin_datetime'

In [60]:
histo_weather_df

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id,county
0,2021-09-01 00:00:00,14.2,11.6,0.0,0.0,1015.9,31,31,0,11,7.083333,8,0.0,0.0,0.0,57.6,21.7,1.0,10.0
1,2021-09-01 00:00:00,13.9,11.5,0.0,0.0,1010.7,33,37,0,0,5.111111,359,0.0,0.0,0.0,57.6,22.2,1.0,10.0
2,2021-09-01 00:00:00,14.0,12.5,0.0,0.0,1015.0,31,34,0,0,6.333333,355,0.0,0.0,0.0,57.6,22.7,1.0,10.0
3,2021-09-01 00:00:00,14.6,11.5,0.0,0.0,1017.3,0,0,0,0,8.083333,297,358.0,277.0,81.0,57.6,23.2,1.0,10.0
4,2021-09-01 00:00:00,15.7,12.9,0.0,0.0,1014.0,22,25,0,0,8.416667,5,0.0,0.0,0.0,57.6,23.7,1.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710727,2023-05-30 10:00:00,13.3,4.2,0.1,0.0,1009.0,40,14,45,0,2.527778,279,434.0,192.0,242.0,58.2,26.2,637.0,11.0
1710728,2023-05-30 10:00:00,13.4,2.9,0.1,0.0,1005.7,64,25,69,0,2.833333,288,471.0,221.0,250.0,58.2,26.7,637.0,11.0
1710729,2023-05-30 10:00:00,13.8,3.1,0.0,0.0,1015.0,58,27,57,0,3.111111,303,515.0,271.0,244.0,58.2,27.2,637.0,8.0
1710730,2023-05-30 10:00:00,13.5,3.7,0.0,0.0,1015.2,52,18,59,0,3.333333,311,516.0,269.0,247.0,58.2,27.7,637.0,15.0
1710731,2023-05-30 10:00:00,13.5,2.9,0.0,0.0,1009.5,58,7,86,0,3.250000,315,498.0,233.0,265.0,58.2,28.2,637.0,2.0

In [59]:
preprocess_forecast_weather_df

                             latitude  longitude  hours_ahead  temperature  \
origin_datetime     county
2021-09-01 02:00:00 2.0     57.900000  28.200000         24.5    12.305428
                    7.0     57.900000  24.450000         24.5    13.406142
                    8.0     58.200000  27.200000         24.5    12.148328
                    10.0    57.900000  22.450000         24.5    14.344201
                    11.0    58.200000  26.450000         24.5    12.107879
...                               ...        ...          ...          ...
2023-05-30 02:00:00 10.0    57.900000  22.450000         24.5    11.634510
                    11.0    58.200000  26.450000         24.5    12.517865
                    13.0    57.750000  26.200000         24.5    12.757760
                    14.0    57.900000  25.700000         24.5    12.668776
                    15.0    57.814286  27.271429         24.5    12.642654

                            dewpoint  cloudcover_high  cloudcover_low  \
origin_datetime     county
2021-09-01 02:00:00 2.0     7.434393         0.189639        0.287369
                    7.0     8.152357         0.145446        0.248755
                    8.0     6.441885         0.080506        0.284185
                    10.0    8.873438         0.283728        0.250500
                    11.0    6.852209         0.068529        0.244377
...                              ...              ...             ...
2023-05-30 02:00:00 10.0    6.841842         0.052200        0.008918
                    11.0    4.602162         0.168596        0.038440
                    13.0    4.348609         0.137847        0.043617
                    14.0    4.159541         0.153089        0.038643
                    15.0    4.431964         0.170066        0.083393

                            cloudcover_mid  cloudcover_total  \
origin_datetime     county
2021-09-01 02:00:00 2.0           0.466637          0.627046
                    7.0           0.280625          0.480925
                    8.0           0.434935          0.504788
                    10.0          0.277791          0.614153
                    11.0          0.374392          0.464605
...                                    ...               ...
2023-05-30 02:00:00 10.0          0.057225          0.114712
                    11.0          0.277164          0.397274
                    13.0          0.272684          0.369228
                    14.0          0.257159          0.390984
                    15.0          0.299882          0.410878

                            10_metre_u_wind_component  \
origin_datetime     county
2021-09-01 02:00:00 2.0                      3.294234
                    7.0                      4.342508
                    8.0                      3.456515
                    10.0                     4.447466
                    11.0                     3.874251
...                                               ...
2023-05-30 02:00:00 10.0                     3.950007
                    11.0                     3.175145
                    13.0                     2.782830
                    14.0                     3.008917
                    15.0                     2.686773

                            10_metre_v_wind_component  data_block_id  \
origin_datetime     county
2021-09-01 02:00:00 2.0                     -3.538346            1.0
                    7.0                     -5.580882            1.0
                    8.0                     -2.676277            1.0
                    10.0                    -6.636516            1.0
                    11.0                    -3.360930            1.0
...                                               ...            ...
2023-05-30 02:00:00 10.0                    -1.564151          637.0
                    11.0                    -0.382562          637.0
                    13.0                    -0.628946          637.0
                    14.0                    -0.551112          637.0
                    15.0                    -0.665042          637.0

                            direct_solar_radiation  \
origin_datetime     county
2021-09-01 02:00:00 2.0                 212.467840
                    7.0                 237.379691
                    8.0                 229.963148
                    10.0                178.973272
                    11.0                250.056481
...                                            ...
2023-05-30 02:00:00 10.0                461.733241
                    11.0                344.503611
                    13.0                339.022130
                    14.0                349.837932
                    15.0                315.323929

                            surface_solar_radiation_downwards  snowfall  \
origin_datetime     county
2021-09-01 02:00:00 2.0                            159.776204       0.0
                    7.0                            171.773056       0.0
                    8.0                            162.726574       0.0
                    10.0                           156.437191       0.0
                    11.0                           169.794722       0.0
...                                                       ...       ...
2023-05-30 02:00:00 10.0                           324.040247       0.0
                    11.0                           283.775926       0.0
                    13.0                           277.958889       0.0
                    14.0                           283.608025       0.0
                    15.0                           267.003439       0.0

                            total_precipitation
origin_datetime     county
2021-09-01 02:00:00 2.0            7.502462e-05
                    7.0            2.433157e-05
                    8.0            1.872472e-05
                    10.0           1.722385e-05
                    11.0           1.444809e-05
...                                         ...
2023-05-30 02:00:00 10.0           2.487666e-07
                    11.0           3.172954e-05
                    13.0           4.362315e-05
                    14.0           3.145138e-05
                    15.0           4.064642e-05

[5096 rows x 16 columns]

In [48]:
forecast_weather_df.iloc[:10000]

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
0,57.6,21.7,2021-09-01 02:00:00,1,15.655786,11.553613,0.904816,0.019714,0.000000,0.905899,-0.411328,-9.106137,1,2021-09-01 03:00:00,0.000000,0.000000,0.0,0.000000e+00
1,57.6,22.2,2021-09-01 02:00:00,1,13.003931,10.689844,0.886322,0.004456,0.000000,0.886658,0.206347,-5.355405,1,2021-09-01 03:00:00,0.000000,0.000000,0.0,0.000000e+00
2,57.6,22.7,2021-09-01 02:00:00,1,14.206567,11.671777,0.729034,0.005615,0.000000,0.730499,1.451587,-7.417905,1,2021-09-01 03:00:00,0.000000,0.000000,0.0,0.000000e+00
3,57.6,23.2,2021-09-01 02:00:00,1,14.844507,12.264917,0.336304,0.074341,0.000626,0.385468,1.090869,-9.163999,1,2021-09-01 03:00:00,0.000000,0.000000,0.0,0.000000e+00
4,57.6,23.7,2021-09-01 02:00:00,1,15.293848,12.458887,0.102875,0.088074,0.000015,0.176590,1.268481,-8.975766,1,2021-09-01 03:00:00,0.000000,0.000000,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,57.9,28.2,2021-09-02 02:00:00,42,10.857080,4.456445,0.000000,0.174789,0.329391,0.384384,4.081826,-5.412522,2,2021-09-03 20:00:00,0.000000,-0.022222,0.0,8.897460e-05
9996,58.2,21.7,2021-09-02 02:00:00,42,13.043848,7.409570,0.000000,0.198578,0.320953,0.359787,3.350869,-11.920579,2,2021-09-03 20:00:00,17.635556,2.537778,0.0,7.705367e-05
9997,58.2,22.2,2021-09-02 02:00:00,42,11.323022,5.182520,0.000000,0.312988,0.203461,0.390488,2.325478,-6.707444,2,2021-09-03 20:00:00,16.568889,1.826667,0.0,-1.939479e-07
9998,58.2,22.7,2021-09-02 02:00:00,42,12.339136,6.513086,0.000000,0.201950,0.123398,0.250473,3.154457,-7.521653,2,2021-09-03 20:00:00,15.644444,1.542222,0.0,2.126372e-05
9999,58.2,23.2,2021-09-02 02:00:00,42,12.326318,6.923242,0.000000,0.156357,0.403412,0.451447,2.821694,-9.815110,2,2021-09-03 20:00:00,7.680000,1.222222,0.0,2.143828e-04

In [5]:
test_df = forecast_weather_df.iloc[:10000].copy()
country_mapping(weather_station_country_map.dropna(), test_df)

C:\Users\anson\AppData\Local\Temp\ipykernel_20460\738530223.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  country_code = int(mapping[mapping['longitude'] == longitude][mapping['latitude'] == latitude]['county'].values[0])

In [9]:
test_df.dropna(inplace = True)

In [15]:
test_df.groupby(["origin_datetime", "county"]).mean()

                            latitude  longitude  hours_ahead  temperature  \
origin_datetime     county
2021-09-01 02:00:00 7.0        58.20      24.95         24.5    12.512250
                    8.0        58.20      27.20         24.5    12.148328
                    10.0       58.20      22.20         24.5    13.824886
                    11.0       58.20      26.45         24.5    12.107879
                    13.0       57.90      26.20         24.5    12.194715
                    14.0       58.20      25.70         24.5    11.957567
                    15.0       57.78      27.10         24.5    11.834682
2021-09-02 02:00:00 7.0        58.20      24.95         21.0    12.078545
                    8.0        58.20      27.20         21.0    11.616733
                    10.0       58.20      22.20         21.5    13.548196
                    11.0       58.20      26.45         21.0    11.480747
                    13.0       57.90      26.20         21.5    11.592340
                    14.0       58.20      25.70         21.0    11.348188
                    15.0       57.78      27.10         21.5    11.237812

                            dewpoint  cloudcover_high  cloudcover_low  \
origin_datetime     county
2021-09-01 02:00:00 7.0     7.272161         0.077705        0.240120
                    8.0     6.441885         0.080506        0.284185
                    10.0    7.961562         0.299671        0.274563
                    11.0    6.852209         0.068529        0.244377
                    13.0    6.920836         0.058077        0.213439
                    14.0    6.822994         0.067203        0.241560
                    15.0    6.670862         0.074357        0.283529
2021-09-02 02:00:00 7.0     6.979033         0.085789        0.307337
                    8.0     6.159645         0.249812        0.294101
                    10.0    7.694754         0.068330        0.199473
                    11.0    6.314311         0.110462        0.282088
                    13.0    6.474805         0.078290        0.275299
                    14.0    6.441009         0.086937        0.271176
                    15.0    6.096202         0.126721        0.326009

                            cloudcover_mid  cloudcover_total  \
origin_datetime     county
2021-09-01 02:00:00 7.0           0.286044          0.427847
                    8.0           0.434935          0.504788
                    10.0          0.299314          0.662926
                    11.0          0.374392          0.464605
                    13.0          0.347010          0.438063
                    14.0          0.331169          0.442620
                    15.0          0.401391          0.510877
2021-09-02 02:00:00 7.0           0.442795          0.555059
                    8.0           0.505071          0.629651
                    10.0          0.404272          0.502763
                    11.0          0.494011          0.570138
                    13.0          0.489358          0.550320
                    14.0          0.495834          0.572917
                    15.0          0.483104          0.589037

                            10_metre_u_wind_component  \
origin_datetime     county
2021-09-01 02:00:00 7.0                      3.775915
                    8.0                      3.456515
                    10.0                     3.591711
                    11.0                     3.874251
                    13.0                     3.338045
                    14.0                     3.866832
                    15.0                     3.322187
2021-09-02 02:00:00 7.0                      4.410860
                    8.0                      4.503016
                    10.0                     4.118534
                    11.0                     4.934804
                    13.0                     4.133993
                    14.0                     4.651995
                    15.0                     4.424710

                            10_metre_v_wind_component  data_block_id  \
origin_datetime     county
2021-09-01 02:00:00 7.0                     -3.747190            1.0
                    8.0                     -2.676277            1.0
                    10.0                    -4.916850            1.0
                    11.0                    -3.360930            1.0
                    13.0                    -3.062256            1.0
                    14.0                    -3.241755            1.0
                    15.0                    -3.014191            1.0
2021-09-02 02:00:00 7.0                     -3.936306            2.0
                    8.0                     -2.935383            2.0
                    10.0                    -5.012842            2.0
                    11.0                    -3.543082            2.0
                    13.0                    -3.228293            2.0
                    14.0                    -3.437825            2.0
                    15.0                    -3.211243            2.0

                            direct_solar_radiation  \
origin_datetime     county
2021-09-01 02:00:00 7.0                 250.112778
                    8.0                 229.963148
                    10.0                165.166111
                    11.0                250.056481
                    13.0                257.619444
                    14.0                256.481667
                    15.0                230.439000
2021-09-02 02:00:00 7.0                 237.260054
                    8.0                 260.803035
                    10.0                249.806984
                    11.0                251.257669
                    13.0                244.245079
                    14.0                240.815610
                    15.0                238.435979

                            surface_solar_radiation_downwards  snowfall  \
origin_datetime     county
2021-09-01 02:00:00 7.0                            172.414352       0.0
                    8.0                            162.726574       0.0
                    10.0                           151.746574       0.0
                    11.0                           169.794722       0.0
                    13.0                           174.476204       0.0
                    14.0                           174.212500       0.0
                    15.0                           165.456944       0.0
2021-09-02 02:00:00 7.0                            175.813333       0.0
                    8.0                            188.614634       0.0
                    10.0                           179.018519       0.0
                    11.0                           182.489539       0.0
                    13.0                           177.460847       0.0
                    14.0                           177.952304       0.0
                    15.0                           174.968402       0.0

                            total_precipitation
origin_datetime     county
2021-09-01 02:00:00 7.0                0.000014
                    8.0                0.000019
                    10.0               0.000007
                    11.0               0.000014
                    13.0               0.000015
                    14.0               0.000017
                    15.0               0.000025
2021-09-02 02:00:00 7.0                0.000074
                    8.0                0.000097
                    10.0               0.000016
                    11.0               0.000093
                    13.0               0.000078
                    14.0               0.000073
                    15.0               0.000099

In [16]:
test_v2_df = test_df.groupby(["origin_datetime", "county"]).mean()
test_v2_df.to_csv('test_v2.csv')

In [21]:
np.isnan(weather_station_country_map['county'][0])

True

In [25]:
weather_station_country_map

    county_name  longitude  latitude  county
0           NaN       21.7      57.6     NaN
1           NaN       21.7      57.9     NaN
2           NaN       21.7      58.2     NaN
3           NaN       21.7      58.5     NaN
4           NaN       21.7      58.8     NaN
..          ...        ...       ...     ...
107         NaN       28.2      58.5     NaN
108         NaN       28.2      58.8     NaN
109         NaN       28.2      59.1     NaN
110         NaN       28.2      59.4     NaN
111         NaN       28.2      59.7     NaN

[112 rows x 4 columns]

In [27]:
weather_station_country_map.dropna()

       county_name  longitude  latitude  county
10        Saaremaa       22.2      58.2    10.0
11        Saaremaa       22.2      58.5    10.0
19        Saaremaa       22.7      58.5    10.0
20         Hiiumaa       22.7      58.8     1.0
27        Saaremaa       23.2      58.5    10.0
35        Pärnumaa       23.7      58.5     7.0
36        Läänemaa       23.7      58.8     6.0
37        Läänemaa       23.7      59.1     6.0
43        Pärnumaa       24.2      58.5     7.0
44        Raplamaa       24.2      58.8     9.0
45        Harjumaa       24.2      59.1     0.0
46        Harjumaa       24.2      59.4     0.0
50        Pärnumaa       24.7      58.2     7.0
51        Pärnumaa       24.7      58.5     7.0
52        Raplamaa       24.7      58.8     9.0
53        Raplamaa       24.7      59.1     9.0
54        Harjumaa       24.7      59.4     0.0
58        Pärnumaa       25.2      58.2     7.0
59     Viljandimaa       25.2      58.5    14.0
60        Järvamaa       25.2      58.8     3.0
61        Harjumaa       25.2      59.1     0.0
62        Harjumaa       25.2      59.4     0.0
66     Viljandimaa       25.7      58.2    14.0
67     Viljandimaa       25.7      58.5    14.0
68        Järvamaa       25.7      58.8     3.0
69        Järvamaa       25.7      59.1     3.0
70        Harjumaa       25.7      59.4     0.0
73        Valgamaa       26.2      57.9    13.0
74        Tartumaa       26.2      58.2    11.0
75       Jõgevamaa       26.2      58.5     4.0
76       Jõgevamaa       26.2      58.8     4.0
77   Lääne-Virumaa       26.2      59.1     5.0
78   Lääne-Virumaa       26.2      59.4     5.0
80         Võrumaa       26.7      57.6    15.0
81         Võrumaa       26.7      57.9    15.0
82        Tartumaa       26.7      58.2    11.0
83        Tartumaa       26.7      58.5    11.0
84       Jõgevamaa       26.7      58.8     4.0
85   Lääne-Virumaa       26.7      59.1     5.0
86   Lääne-Virumaa       26.7      59.4     5.0
88         Võrumaa       27.2      57.6    15.0
89         Võrumaa       27.2      57.9    15.0
90        Põlvamaa       27.2      58.2     8.0
91        Tartumaa       27.2      58.5    11.0
93     Ida-Virumaa       27.2      59.1     2.0
94     Ida-Virumaa       27.2      59.4     2.0
97         Võrumaa       27.7      57.9    15.0
101    Ida-Virumaa       27.7      59.1     2.0
102    Ida-Virumaa       27.7      59.4     2.0

In [31]:
test_df = weather_station_country_map.iloc[:10]
known_value = weather_station_country_map.dropna()

In [39]:
target = 26
weather_station_country_map.iloc[target]
target_longitude = weather_station_country_map.iloc[target]['longitude']
target_latitude = weather_station_country_map.iloc[target]['latitude']
low_index = known_value.index[known_value.index<target][-1]
high_index = known_value.index[known_value.index>target][0]
low_longitude = known_value.iloc[low_index]['longitude']
low_latitude = known_value.iloc[low_index]['latitude']
high_longitude = known_value.iloc[high_index]['longitude']
high_latitude = known_value.iloc[high_index]['latitude']

low_distance = (target_longitude - low_longitude)**2 + (target_latitude - low_latitude)**2
high_distance = (target_longitude - high_longitude)**2 + (target_latitude - high_latitude)**2

if low_distance < high_distance:
    county = known_value.iloc[low_index]['county']
else:
    county = known_value.iloc[high_index]['county']

In [43]:
weather_station_country_map.iloc[target]

county_name     NaN
longitude      23.2
latitude       58.2
county          NaN
Name: 26, dtype: object

In [42]:
known_value.loc[low_index]['longitude']

22.7

In [41]:
high_index

27

In [29]:
test_df

  county_name  longitude  latitude  county
0         NaN       21.7      57.6     NaN
1         NaN       21.7      57.9     NaN
2         NaN       21.7      58.2     NaN
3         NaN       21.7      58.5     NaN
4         NaN       21.7      58.8     NaN
5         NaN       21.7      59.1     NaN
6         NaN       21.7      59.4     NaN
7         NaN       21.7      59.7     NaN
8         NaN       22.2      57.6     NaN
9         NaN       22.2      57.9     NaN

In [37]:
known_value.index <= 28

array([ True,  True,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [30]:
weather_station_country_map.iloc[11:20]

   county_name  longitude  latitude  county
11    Saaremaa       22.2      58.5    10.0
12         NaN       22.2      58.8     NaN
13         NaN       22.2      59.1     NaN
14         NaN       22.2      59.4     NaN
15         NaN       22.2      59.7     NaN
16         NaN       22.7      57.6     NaN
17         NaN       22.7      57.9     NaN
18         NaN       22.7      58.2     NaN
19    Saaremaa       22.7      58.5    10.0